<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="uistyles.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Admin - Event Manager</title>

    <!-- inline style -->
  </head>

  <body>

    <!-- navigation bar -->
    <nav>
    <div class="nav-wrapper teal">
      <a href="index.html" class="brand-logo">Event Manager</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Admin</a></li>
      </ul>
    </div>
    </nav>

<!-- Page Layout here -->
    <div class="row">

      <div class="col s3 teal myfull-width">
        <div class="row">

        </div>
      </div>

      <div class="col s6 white myfull-width">
        <div class="row">

        </div>
      </div>

      <div class="col s3 teal myfull-width">
        <div class="row">

        </div>
      </div>

    </div>

    <!-- footer -->
    <footer class="page-footer white">
      <div class="container black-text">
      © 2017 --- Raphael Ekete --- raphael.ekete@gmail.com ---
      </div>
      <div class="row"></div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="uiscript.js"></script>
  </body>
</html>