.myfullhigh {
    height: 100%;
    min-height: 1000px !important;
}
#p01 {
	font-size: 135%;
}
#big-text {
	font-size: 150%;
	color: white;
}
#medium-text {
	font-size: 120%;
	color: white;
}
#p02 {
	font-size: 70%;
}
#p03 {
	font-size: 90%;
}
#p04 {
	font-size: 150%;
}
#myfull-h {
	height: 200%;
}
#big-text-black {
	font-size: 150%;
	color: black;
}
#medium-text-black {
	font-size: 120%;
	color: black;
} 
#small-text-black {
	font-size: 100%;
	color: black;
}